{% extends "base.xhtml.jinja" %}

{% block title %}Design Documentation{% endblock %}

{% block article %}
<p>
These documents are the current and past design documents for the game.
</p>

<ol>
  <li>
    <p>Null document since I need to display some and we haven't produced any</p>
    <ul>
      <li><a href="null_doc/Req1.pdf">Requirements</a></li>
      <li><a href="null_doc/Arch1.pdf">Architecture</a></li>
      <li><a href="null_doc/Plan1.pdf">Method Selection and Planning</a></li>
      <li><a href="null_doc/Risk1.pdf">Risk Assessment and Mitigation</a></li>
    </ul>
  </li>
</ol>
{% endblock %}
