{% extends "base.xhtml.jinja" %}

{% block title %}Design Documentation{% endblock %}

{% block article %}
<p>
These documents are the current and past design documents for the game.
</p>

<h2>Assessment 1 Design Documents</h2>
<ol>
  <li>
    <p>These are the documents produced for assessment 1 on 2016-11-09</p>
    <ul>
      <li><a href="submit_1/Req1.pdf">Requirements</a></li>
      <li><a href="submit_1/Arch1.pdf">Architecture</a></li>
      <li><a href="submit_1/Plan1.pdf">Method Selection and Planning</a></li>
      <li><a href="submit_1/Risk1.pdf">Risk Assessment and Mitigation</a></li>
    </ul>
  </li>
</ol>

<h2>Assessment 2 Updated Design Documents</h2>
<ol>
  <li>
    <p>These are updated Assessment 1 design documents made for Assessment 2 on 2017-01-22</p>
    <ul>
      <li><a href="submit_2/updated/Updates2.pdf">Update Summary and Discussion</a></li>
      <li><a href="submit_2/updated/Req2.pdf">Updated Requirements</a></li>
      <li><a href="submit_2/updated/Plan2.pdf">Method Selection and Planning</a></li>
      <li><a href="submit_2/updated/Risk2.pdf">Risk Assessment and Mitigation</a></li>
    </ul>
  </li>

  <li>
    <p>These are additional Assessment 2 design documents released on 2017-01-22</p>
    <ul>
      <li><a href="submit_2/new/GUI2.pdf">GUI Report</a></li>
      <li><a href="submit_2/new/Arch2.pdf">Architecture Report</a></li>
      <li><a href="submit_2/new/Impl2.pdf">Implementation Report</a></li>
      <li><a href="submit_2/new/Test2.pdf">Testing Report</a></li>
      <li><a href="submit_2/new/Class_diagram.png">Complete Class Diagram</a></li>
      <li><a href="submit_2/new/back_end.png">Back End Class Diagram</a></li>
      <li><a href="submit_2/new/Front_end.png">Front End Class Diagram</a></li>
      <li><a href="submit_2/new/DataStoreDiagram.png">Data Store Diagram</a></li>
    </ul>
  </li>
</ol>
{% endblock %}
