{% extends "base.xhtml.jinja" %}

{% block title %}Design Documentation{% endblock %}

{% block article %}
<p>
These documents are the current and past design documents for the game.
</p>

<ol>
  <li>
    <p>These are the documents produced for assessment 1 on 2016-11-08</p>
    <ul>
      <li><a href="submit_1/Req1.pdf">Requirements</a></li>
      <li><a href="submit_1/Arch1.pdf">Architecture</a></li>
      <li><a href="submit_1/Plan1.pdf">Method Selection and Planning</a></li>
      <li><a href="submit_1/Risk1.pdf">Risk Assessment and Mitigation</a></li>
    </ul>
  </li>
</ol>
{% endblock %}
