{% extends "base.xhtml.jinja" %}

{% block title %}Executable Downloads and User Manuel{% endblock %}

{% block article %}

<h2>Executable Downloads</h2>
<p>
Here you can find download links for the program executable.
</p>

<h2>User Manual</h2>
<p>You can download the user manual which explains the the game and how to play <a href="UserManual.pdf">here</a>.</p>
{% endblock %}
