<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
  <head>
    {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="{{ root_dir }}style.css" rel="stylesheet" title="Default Stylesheet"/>
    <title>Murder in the Ron Cooke Hub - {% block title %}Untitled{% endblock title %}</title>
    {% endblock %}
  </head>
  <body>
    {% block body %}
    <header class="body-main-header">
      {% block header %}
      <h1 class="site-title"><a href="{{ root_dir }}">Murder in the Ron Cooke Hub</a></h1>
      <h2 class="page-title">{{ self.title() }}</h2>
      <nav class="main-site-nav">
        <ul>
          <li><a href="{{ root_dir }}designdocs">Design Documentation</a></li>
        </ul>
      </nav>
      {% endblock %}
    </header>
    <article class="body-main-article">
      {% block article %}
      {% endblock %}
    </article>
    {% endblock %}
  </body>
</html>
