html {
    font-family: sans;
    background-color: white;
    color: black;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: #0000DD;
}

h1, h2, h3 {
    font-weight: normal;
}

.body-main-header {
    padding: 1em;
    box-shadow: 0 0.5em 1em 0 #00000040;
    background-color: #C62828;
    color: #FFFFFF;
}

.body-main-article {
    padding: 1em 3em;
    display: inline-block;
}

.site-title, .page-title {
    margin: 0.2em 0em;
}

.page-title {
    font-size: x-large;
}

.main-site-nav > ul {
    padding-left: 0;
    list-style: none;
}

@media (min-width: 70em) {
    .body-main-header {
       max-width: 35em;
       float: left;
       display: inline-block;
       height: 100vh;
       box-sizing: border-box;
       box-shadow: 0.5em 0 1em 0 #00000040;
    }

    .body-main-article {
        width: calc(100% - 41em);
    }
}
